<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>
	<table>
		<thead>
			<tr>
				<th
				(click)="ordenar({prop : 'id'})"
				>
					Id
				</th>
				<th
				(click)="ordenar({prop : 'titulo'})"
				>
					Titulo
				</th>
				<th
				(click)="ordenar({prop : 'minutos'})"
				>
					Minutos
				</th>
				<!--seleccionar todas las tareas-->
				<th>
					<input type="checkbox" [checked]="isSeleccionados()" (change)="seleccionarTodo($event)">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tarea of tareas">
				<td>{{ tarea.id }}</td>
				<td>{{ tarea.titulo }}</td>
				<td>{{ tarea.minutos }}</td>
				<td>
					<input 
					type="checkbox" 
					[(ngModel)]="tarea.seleccionado" 
					(change)="actualizarEstadoChecked($event, tarea.id)">
				</td>
			</tr>
		</tbody>
	</table>

	<div>
		<!--tarea 4-->
		<!--eliminar tareas seleccionadas-->
		<button 
		(click)="eliminarSeleccionados()"
		>
			Eliminar seleccionados
		</button>
	</div>

	<form (submit)="nuevaTarea(titulo.value, minutos.value)">
		<!--titulo-->
		<label>Titulo</label>
		<input type="text" #titulo required>
		<!--Minutos-->
		<label for="minutos">Minutos: </label>
		<input type="number" id="minutos" #minutos required>
		<!--submit-->
		<button>Nueva tarea</button>
	</form>
</div>